.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 2px solid lightgray;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    span {
      color: royalblue;
      font-weight: bold;
      font-size: 15px;
    }
    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      box-sizing: border-box;
      border: 1px solid lightgray;
      padding: 5px;
      input {
        border: none;
        width: 500px;
        padding: 5px;
        outline: none;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
    .user {
      img {
      }
      span {
      }
    }
  }
}
